/* Avoid an irritating gap around the body*/
:root {
    background-color: #004000;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 100%;

    border: 2px solid aliceblue;
    padding: 5px;

    &> input, button {
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
    }
}

#submit {
    display: none;
}

#outputs {

    > p:not(p:empty) {
        font-size: 1.2rem;
        border-radius: 5px;
        padding:5px;
        border: 2px solid white;
    }
}

#blueScoreDisplay {
    background-color: white;
    color: blue;
}

#orangeScoreDisplay {
    background-color: black;
    color: orange;
}